

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: #292524;
  color: #fafaf9;
  padding: 40px 60px;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
  
}
/*layouts*/
.main{
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 50px;
}
h1{
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  
}
.logo img{
  width: 68px;
  height: 68px;
}
.header{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo{
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: 6px;
  gap: 15px;
}
.btn{
  border: none;
  font-family: "Coiny", sans serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #eab308, #ef4444, #16a34a);
  color: inherit;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}
.btn-large{
  
  font-size: 30px;
  padding: 20px 32px 17px;
}
.btn-all{
  margin-bottom: 16px;
  width: 100%;
}
.btn:hover{
  transform: scale(110%) rotate(-2deg);
}
.cat{
  width: 100%; 
  background-image: none;
}
.category{
  margin-bottom: 16px;
}

.fact{
  font-size: 20px;
  line-height: 1.4;
  font-family:"Sono", sans-serif;
  color: #fafaf9;
  background-color: #57534e;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  
  gap: 24px;
}
@media (max-width: 1200px){
  .fact{

    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}
.tag{
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}
.vote-button{
margin-left: auto;
flex-shrink: 0;
display: flex;
gap: 8px;

}
ul{
  list-style: none;
}
.fact-form{
  background-color: #57534e;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.source:hover,
.source:active{
  color: #3b82f6;
}

.source:visited{
  color: #a8a29e;
  text-decoration:none;
  margin-left: 12px;
  
}
.source:link{
  color: #a8a29e;
  text-decoration:none;
}
.vote-button button{
  background-color: #b1ada9;
  border: none;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
  

}
.vote-button button:hover{
  background-color: #292524;
}
.fact-form input, .fact-form select{
  background-color: #292524;
  max-width: 220px;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;

}
.fact-form input::placeholder{
  color:#a8a29e
}
.fact-form span{
  font-weight: 800;
  font-size: 18px;
  margin-right: 18px;
}
.fact-form input:first-child{
  flex-grow: 1;
}
@media (max-width:1000px){
  body{
    padding: 32px 48px;
  }
  .fact-form{
    flex-direction: column;
    align-items: stretch;
  }
  .fact-form input, 
  .fact-form select{
    width: auto;
  }
}