

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: #292524;
  color: #fafaf9;
  padding: 40px 60px;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
  
}
/*layouts*/
.main{
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 50px;
}
h1{
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  
}
.logo img{
  width: 68px;
  height: 68px;
}
.header{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo{
  display: flex;
  align-items: center;
  line-height: 1;
  margin-top: 6px;
  gap: 15px;
}
.fact{
  font-size: 20px;
  line-height: 1.4;
  font-family:"Sono", sans-serif;
  color: #fafaf9;
  background-color: #57534e;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  
  gap: 24px;
}
.tag{
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.vote-button{
margin-left: auto;

}
ul{
  list-style: none;
}
.fact-form{
  background-color: #57534e;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}
.source:hover,
.source:active{
  color: #3b82f6;
}

.source:visited{
  color: #a8a29e;
  text-decoration:none;
  margin-left: 12px;
  
}
.source:link{
  color: #a8a29e;
  text-decoration:none;
}